name: CI
concurrency: ci-${{ github.ref }}
on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "main"
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  REPOSITORY: ${{ github.repository }}

jobs:
  # generate-docs:
  #   runs-on: ubuntu-24.04
  #   if: (github.event_name == 'push' && github.ref == 'refs/heads/main')
  #   steps:
  #     - name: trigger docs update in sum.golang.org and pkg.go.dev
  #       uses: essentialkaos/godoc-action@v1

  static-analysis:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: endorama/asdf-parse-tool-versions@v1.3.4
        id: tool-versions
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - uses: actions/cache@v4.3.0
        id: go-cache
        with:
          path: ~/go/pkg/mod
          key: go-${{ env.GOLANG_VERSION }}-${{ hashFiles('**/go.sum') }}
      - name: go vet check
        run: make vet-check
      - name: go fmt check
        run: make fmt-check
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4.0
          skip-cache: true
          args: "--timeout=3m"

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: endorama/asdf-parse-tool-versions@v1.3.4
        id: tool-versions
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - uses: actions/cache@v4.3.0
        id: go-cache
        with:
          path: ~/go/pkg/mod
          key: go-${{ env.GOLANG_VERSION }}-${{ hashFiles('**/go.sum') }}
      - name: test
        run: make test-coverage
      # - name: install goveralls
      #   run: go install github.com/mattn/goveralls@latest
      # - name: send coverage
      #   env:
      #     COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: goveralls -coverprofile=covprofile -service=github

  build-static-binary:
    runs-on: ubuntu-24.04
    needs: [static-analysis, test]
    steps:
      - uses: actions/checkout@v5
      - uses: endorama/asdf-parse-tool-versions@v1.3.4
        id: tool-versions
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - uses: actions/cache@v4.3.0
        id: go-cache
        with:
          path: ~/go/pkg/mod
          key: go-${{ env.GOLANG_VERSION }}-${{ hashFiles('**/go.sum') }}
      - name: build
        run: make -j4 cross-compiled
      - name: compress
        run: |
          set -x
          find ./build -maxdepth 1 -mindepth 1 -type d -exec sh -c 'tar -zcf build/workbench-$(basename {}).tgz -C {} workbench' \;
      - uses: actions/upload-artifact@v5
        with:
          name: workbench-binaries
          path: |
            build/workbench-amd64.tgz
            build/workbench-arm64.tgz

  release-rolling:
    needs: [build-static-binary]
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main')
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: workbench-binaries
      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "rolling"
          prerelease: true
          title: "Cutting Edge"
          files: |
            workbench-amd64.tgz
            workbench-arm64.tgz

  # This job doesn't actually make release, but rather reacts to a manual one, made via the GitHub UI.
  # In the future, we might want to reuse the same mechanism of the rolling ones to automate everything here as well.
  release-tag:
    needs: [build-static-binary]
    if: github.event.release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: workbench-binaries
      - uses: AButler/upload-release-assets@v3.0
        with:
          files: "workbench-*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
